/* $Id: ie.css,v 1.4 2008/09/20 20:57:27 johnalbin Exp $ */

/*
 * IE CSS
 *
 * CSS targeted specifically for Internet Explorer for Windows.
 *
 * Properties starting with an underscore _ are for IE 5 and 6 only.
 * Properties starting with head:first-child+body are for IE7 only.
 * Properties with a child selector (>) or sibling selector (+) are for IE7 only.
 *
 */

/*
 * Layout CSS
 */

/** body **/
  body
  {
    _text-align: center; /* 1st part of IE5/IE6quirks centering hack */
  }

  #page
  {
    _text-align: left; /* 2nd part of IE5/IE6quirks centering hack */
    _width: 100%;
  }

/** main (container for everything else) **/
  #main
  {
    _zoom: 1; /* Otherwise with a liquid layout, sidebars disappear when resizing the windows in IE6 */
    _overflow: visible; /* Reduce amount of damage done by extremely wide content */
  }

/** floating divs **/
  #content,
  #navbar,
  #sidebar-left,
  #sidebar-right
  {
    _display: inline; /* display inline or double your floated margin! [1] */
    _overflow: hidden; /* in ie6, overflow auto is broken [2] and so is overflow visible [3] */
    _overflow-y: visible;
  }


/*
 * Tabs CSS - IE 5 and 6 don't support PNGs with alpha transparency.
 */

  ul.primary li a,
  ul.primary li a .tab,
  ul.secondary li a,
  ul.secondary li a .tab
  {
    _display: inline; /* Otherwise the blocks mistakenly get 100% width in IE5 */
    _display: inline-block; /* Otherwise the blocks mistakenly get 100% width in IE6 */
    cursor: pointer;
  }

  ul.primary,
  ul.secondary
  {
    _width: 100%; /* Otherwise IE5 treats the ul as floated */
    _width: auto; /* Reset to auto width for IE6 */
  }

  ul.primary li a
  {
    _background: url(../sfschool/images/tab-left-ie6.png) no-repeat left -38px;
  }

  ul.primary li a .tab
  {
    _background: url(../sfschool/images/tab-right-ie6.png) no-repeat right -38px;
  }

  ul.primary li a:hover
  {
    _background: url(../sfschool/images/tab-left-ie6.png) no-repeat left -76px;
  }

  ul.primary li a:hover .tab
  {
    _background: url(../sfschool/images/tab-right-ie6.png) no-repeat right -76px;
  }

  ul.primary li.active a,
  ul.primary li.active a:hover
  {
    _background: url(../sfschool/images/tab-left-ie6.png) no-repeat left 0;
  }

  ul.primary li.active a .tab,
  ul.primary li.active a:hover .tab
  {
    _background: url(../sfschool/images/tab-right-ie6.png) no-repeat right 0;
  }

/** Drupal nodes **/
  .node-unpublished .node-inner>*
  {
    position: relative; /* Otherwise these elements will appear below the "Unpublished" text. */
  }

/** Drupal admin tables **/
  .section-admin #content tr.even th,
  .section-admin #content tr.even td,
  .section-admin #content tr.odd th,
  .section-admin #content tr.odd td
  {
    border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
  }

/*
 * REFERECES
 *

1. http://www.positioniseverything.net/explorer/doubled-margin.html
2. http://browservulsel.blogspot.com/2005/04/ie-overflow-auto-scrollbar-overlap.html
3. http://www.howtocreate.co.uk/wrongWithIE/?chapter=overflow%3Avisible%3B

 *
 */

  #logo-title
  {
    /*margin: 10px 20px 0 20px; //comment */
    margin-top:-8px;
	margin-left:-4px;
  }

  #logo {
    width:188px;
    height:145px;
    margin-top:6px;
  }

  .item-list ul li {
    margin-left: -20px;
  } 

  div.block {
    background-color: #FFFFFF;
  }   
  
  .block h2.title {
    padding-top: 5px;
  }

  body.sidebar-right #main, body.two-sidebars #main {layout-g...and.css?B (line 90)
    margin-right: 0px;
  }

  #content-bottom .block,
  #content-top .block
   { 
     padding-top: 15px;
     padding-bottom: 15px;
     margin-bottom: 0px;
  }

  .page-admin-build-block #content-top .block, .page-admin-build-block #content-bottom .block {
	margin-bottom: -37px;
  }

  #content-bottom .block-inner,
  #content-top .block-inner {
    background-color: #770632;
    margin-bottom: -15px;
    padding-bottom: 0px;
    padding-top: 5px;
  }
  
  #content-bottom .block h2.title,
  #content-top .block h2.title {    
    margin-top: 0px; 
    margin-bottom: 2px; 
    padding-top: 0px;
    padding-bottom: 0px;
  }


  .block ul { 
    padding: 0px;
  }
 
  .block ul li{      
    padding-left: 10px;
    text-indent: -16px;
  }

  .block ul li a:hover {
    color:#669933;
  }

  body.two-sidebars #crm-container {
    width: auto;
  }


  body.sidebar-right #squeeze,
  body.two-sidebars #squeeze
  {
   /* margin-right: 210px; //comment */
     margin-right: 5px;    
     overflow-y: hidden;
  }

  body.sidebar-left #squeeze, 
  body.two-sidebars #squeeze {
     padding-top: 45px;
     padding-left: -5px;
     float: left;
     overflow-x: auto;
  }

  #container #sidebar-right
  {
    margin-top: 0px; /* added */   
    padding-left: 3px;  /* added */
    padding-top: 45px;  /* added */
    position: relative; /* added */
    width: 196px; /* If you change this value, change the values
                     of margin-right for #main and #squeeze. */
    float: left;
  }

  #sidebar-right .block .content {
    padding-right: 20px;    
    padding-bottom: 25px;
  }
   
  #sidebar-right .block-inner {       
    padding-bottom: 0px;
    margin-bottom: -6px;
  }

  #container #sidebar-left {
    padding-top: 0px;
    margin-top: 11px;
    width: 186px;
  }

  #sidebar-left .block {
    position: relative;
  }
 
  #sidebar-left .block .content {    
    padding-top: -25px;    
  }
 
  #sidebar-left .block-civicrm ul.indented li {
    list-style: none;
  }

  #sidebar-left ul.menu {
    padding-top: -10px; 
    list-style: none;
    margin: 0;
    padding: 0;
  }
 
  #sidebar-left ul.menu li.first {
    padding-top: 1px;  
  }

  #sidebar-left ul.menu li {   
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #FFFFFF;
  }

  #sidebar-left ul.menu li
  {
     list-style-image: none;     
     text-indent: 0px;
  }

  #sidebar-left ul.menu li a { 
     list-style-image: none; 
     text-decoration: underline;    
  }

  #sidebar-left ul.menu a {            
     margin-left: 0px;
     text-indent: -5px;
     display: block;    
  }

  #sidebar-left li.expanded li, #sidebar-left ul.menu li.expanded li {
    border-bottom: 1px solid #f9f3d9;
  }

  #sidebar-left li.expanded li a:hover, #sidebar-left ul.menu li.expanded li a:hover {
    background-color: #F9F3D9; 
    text-decoration: underline;
  }

  #sidebar-left ul.menu li ul { 
    padding-top: 1px;
    margin-top: -2px;
    background-color: #F9F3D9;
  }
 
  /*.content #crm-event-block { 
    padding-left: 0px;
    padding-right: 0px;    
  }
 
  .content #crm-event-block p {    
    padding-left: 3px;
  } 

  .content #crm-event-block a {
     border-right: none;
  }

  .content #crm-event-block a:hover {    
     color:#669933;
     text-decoration: none;
  } 
  
  .content #crm-event-block br, .content #crm-event-block em {
    display: none;
  }  */

/* .block ul.menu li.expanded li a:hover {
   display: inline;
   text-decoration: underline;
   background-color: #f9f3d9;

 } */
 
 #sidebar-left .block ul.menu li a:hover {
    background-color: #E1E3E5; 
 }

 #sidebar-left .block ul.menu li ul li ul li a {
    text-indent: 5px;
 }

 #sidebar-left .block-civicrm ul li {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
 }
 
 #sidebar-left .block-civicrm .menu li.no-display {
    margin-top: -15px;
 }   

#crm-create-new-link {
border:1px solid #3E3E3E;
color:#FFFFFF;
cursor:pointer;
font-size:12px;
font-weight:normal;
margin-right:80px;
padding:2px 6px;
text-decoration:none;
text-shadow:0 1px 0 black;
}

#crm-contact-actions-link{
border:1px solid #3E3E3E;
color:#FFFFFF;
cursor:pointer;
font-size:12px;
font-weight:normal;
width:80px;
padding:2px 6px;
text-decoration:none;
text-shadow:0 1px 0 black;
} 

.resizable-textarea .form-textarea {
 height: expression('30px') !important;
}