/* $Id: zen-classic.css,v 1.9 2008/09/21 15:09:48 johnalbin Exp $ */

/*
 * COMMON STYLES
 */

  body
  {
    background: #fff;
  }

  #page
  {
    color: #333333;
    background-color: #fff;    
    /* padding-left:240px;  added, no need */
    /* padding-right:240px;  added, no need */
    padding-top:0;   /* added*/
    width:1040px;  /* added*/
    font-family: Arial,Helvetica,sans-serif;
  }

  #container
  {
    /* margin: 0 10px 10px 10px; //comment */    
    margin-top: -21px;  /* added */
    
  }

  #header {
    height: 180px;
  }

  #header-region,
  #closure-blocks
  {
    margin: 0 10px;   
  }

  /* added */
  #header tr, #header td {
    padding: 0px;
  }

  #main .node .content
  {
    color: #333;
  }
 
  /* added */
  tbody {
    border-top: none;
  }    

  div.content, div.links
  {
    font-size: 92%;   
  }

  /* added */
  div.block {
    background-color: #770632;
  }

  div.block.with-block-editing {
    margin-bottom: 25px;
  }

  .block h3
  {
    font-size: 122%;
  }

  .book .body
  {
    padding: 0 0 0.5em 0;
    margin: 0;
  }

/*
 * HEADER STYLES
 */

  #logo-title
  {
    /*margin: 10px 20px 0 20px; //comment */
    margin-top: 0px;
    position: relative;
    height: 145px;  /* added */
  }

  #logo
  {
    height: 145px;
    vertical-align: baseline;
    float: right;  /* added */    
  }

  #name-and-slogan
  {
    display: inline;
  }

  #site-name
  {
    margin: 0;
    display: inline;
    font-size: 246%;
  }

   #site-name a, #site-name a:hover
  {
    font-family: "Trebuchet MS", "Bitstream Vera Sans", Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #6DA6E2;
    margin: 0;
    padding: 0;
	display:none;
  }

  #site-slogan
  {
    color: #aaa;
    margin: 0;
    font-size: 85%;
    margin-left: 20px;
  }

  #search
  {
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
  }

  /* added */
  #crm-container #search {
    position: relative;    
    width: auto;
  }

  /* added */
  #crm-container #search .button,
  #crm-container #search .form-submit {
    border: none;
  }

  #crm-container tr {
    font-size: 11px;
  }

  #mission
  {
    color: #666;
    font-weight: bold;
    padding: 2em;
    background: #D7E3F0 url(images/background.png);
    margin-bottom: 20px;
    font-size: 85%;
    border: solid 1px #B5C9D8;
  }

  .breadcrumb
  {
    margin: 0;
    padding: 0;
    font-size: 85%;
    margin-left: 10px; /* #header-region already has 10px */
  }

  /* "Skip to Main Content" link
   *
   * This link useful for both blind people and people with mobility impairments
   * who cannot use a mouse.
   */

  #skip-nav
  {
    margin: 0 !important;
    padding-left: 20px;
    font-size: 0.8em;
    line-height: 1;
  }

  #skip-nav a
  {
    padding: 1px 10px;
  }

  #skip-nav a:link, #skip-nav a:visited
  {
    color: #ffffff; /* same as background color */
  }

  #skip-nav a:hover, #skip-nav a:active, #skip-nav a:focus
  {
    color: #ffffff;
    background: #2763A5;
    text-decoration: none;
  }

  /* Alternatively, the skip-nav link can be completely hidden until a user tabs
     to the link. Un-comment the following CSS to use this technique. */
  /*
  #skip-nav a, #skip-nav a:hover, #skip-nav a:visited
  {
    position: absolute;
    left: 0;
    top: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  #skip-nav a:active, #skip-nav a:focus
  {
    position: static;
    width: auto;
    height: auto;
  }
  #logo-title
  {
    margin: 10px 20px 0 20px;
  }
  */

/*
 * MENU STYLES
 */

  div.menu
  {
    margin-top: 15px;
  }

  #primary
  {
    font-size: 85%;
    line-height: normal;
    padding: 0 0 3px 17px; /* modified 10px to 3px; 20px to 17 px */
    /* border-bottom: 4px solid #2763A5; //commented */
  }

  #primary ul
  {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  #primary ul.links li,
  #secondary ul.links li
  {
    display: inline; 
    border-left: none;   
    /* border-left: 1px solid #000000; added  */
    margin: 0;
    padding: 0;
  }
 
  #primary ul.links li.first a,
  #secondary ul.links li.first a {
    /*border-right: none;*/
    border-left: none; 
  } 
  

  #primary a
  {
    /* background: #6DA6E2 url(images/tabs.png) repeat-x; //commented */
    color: #F49F00;
    font-size: 12px;
    font-weight: normal;
    /* font-weight: bold; //commented */
    display: block;
    float: left;
    padding: 0px 8px 0px 8px;    
    border-left: solid #000000 1px; /* added */
    text-transform:uppercase; /* added */    
    /* border-width: 1px 1px 0 1px; // comment */
  }


  #primary a:hover
  {
    background-position: 0% -42px;
    text-decoration: underline; /* modified none to underline */
  }

  #primary a.active
  {
    background-position: 0% -84px;
  }

  #secondary
  {
    padding-left: 20px;
    background: #6DA6E2; /*#347FD2;*/
    border-bottom: solid #2763A5 4px;
  }

  #secondary ul
  {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #secondary li a
  {
    float: left;
    display: block;
    color: #fff;
    font-size: 85%;
    text-decoration: none;
    padding: 0 5px 0 5px;
  }

  #secondary a:hover
  {
    background: #2763A5;
  }

  #secondary a.active
  {
    font-weight: bold;
  }

/*
 * LINK STYLES
 */

  ul.links
  {
    text-align: left;
  }

  ul.links li
  {
    border-left: 1px solid #9cf;
  }

  .taxonomy
  {
    margin: 0;
    padding: 0;
    display: inline;
  }

  .taxonomy ul.links li
  {
    border: none;
    padding: 0 .1em 0 .2em;
  }

  .taxonomy ul.links li:after
  {
    content: ",";
  }

  .taxonomy ul.links li.last:after
  {
    content: "";
  }

  ul.links li.first
  {
    padding-left: 0;
    border: none;
  }

  .links
  {
    color: #999;
  }

  .links a
  {
    padding: 0 .1em 0 .1em;
  }

  /* added */
  a:link, a:visited {
    color:#669933;
    text-decoration:none;
  }
 
  .submitted, .taxonomy
  {
    font-size: 85%;
    color: #999;
  }

/*
 * FORM STYLES
 */

  input, textarea, textfield
  {
    margin: 0px;
    color: #000;
    font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    padding: 1px;
    font-size: 100%;
  }

  input.form-checkbox, input.form-radio
  {
    border: none;
  }

  #search .form-text, #user-login-form .form-text
  {
    color: #444;
    border: 1px solid #6191C5;
    padding: 2px;
  }

  .form-submit, .button
  {
    padding: 1px;
  }

  #search .button,
  #search .form-submit,
  #user-login-form .button,
  #user-login-form .form-submit
  {
    background-color: #68A0D9;
    color: #fff;
    font-weight: bold;
    border: 1px solid #4070A1;
  }

  #user-login-form
  {
    text-align: left;
  }

  #user-login-form .item-list ul
  {
    margin-top: 0;
    padding-bottom: 0;
  }

  /* added */

  #sidebar-left .form-item .form-text {
    width: 150px;
  }

/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */
  #user-login-form li.openid-link, /* The "Log in using OpenID" links. */
  #user-login li.openid-link
  {
    margin-top: 1em;
    margin-left: 0;
    padding-left: 1.5em;
    background-position: left center;
  }

  #user-login-form li.user-link, /* The "Cancel OpenID login" links. */
  #user-login li.user-link
  {
    margin-top: 1em;
  }

  #user-login li.user-link /* The Cancl OpenID link on the /user form. */
  {
    margin-left: 0;
  }

  /* added */
  .item-list ul li { 
    margin-left: -5px;
  }

/*
 * ALERTS, STATUS, HELP MESSAGE STYLES
 */

  div.messages
  {
    padding: 1.3em 1em .3em 52px;
    border-width: 2px;
    margin: 10px 0;
  }

  div.status
  {
    border: 2px solid #ddd;
    background-color: #eee;
  }

  div.messages ul
  {
    padding: 0 0 0 20px;
    margin: 0;
  }

/*
 * FOOTER STYLES
 */

  #footer-wrapper
  {
    margin: 0;
    margin-top: 15px;
  }

  #footer
  {
    /* background-color: #2763A5; //comment 
    border: solid 1px #004969; */
    color: #FFFFFF;
    text-align: center;    
    font-size: 85%;
    padding: 1em;
  }

  #footer *
  {
    color: #000000; /* modified #ffffff to #000000 */
    font-size: 9px; /* added */
  }

  #footer a
  {
    color: #fff;
    font-weight: bold;
    border-bottom: 1px dotted #FFFFFF;
  }

  #footer a:hover
  {
    border-bottom: 1px solid #FFFFFF;
  }

  #footer img.drupal-powered
  {
    position: relative;
    top: .3em;
  }

  #footer .block
  {
    text-align: left;    
    background-color: none;  /* added */
    margin-left: 184px;  /* added */
  }

  /* added */
  #footer .block .content {
    border: none; 
  }
 
  #footer div.block div.edit
  {
    background-color: #2763A5;
  }

/*
 * ADMINISTRATION STYLES
 */

  .admin-panel
  {
    margin: 0;
    padding: 0;
  }

  .admin-panel .body
  {
    background-color: #FFFFFF; /* modified from #eee to #fffffff */
    border: solid #770632 1px; /* modified form #6191C5 to #770632 */
  }

  .admin-panel .body dl, .admin-panel .body p
  {
    padding: 10px;
  }
  
  /* added */
  .admin-panel h3 {
     background:#770632 url(images/cog.png) no-repeat scroll 0.5em 50%;
  }

  .admin-panel h3
  {
    margin-bottom: 0;
    padding: 5px 5px 5px 30px;
    font-family: Verdana, "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
    font-size: 122%;
    color: #fff;
    border-width: 0 2px 2px 2px;
  }

  table tr.odd
  {
    background: #ddd;
  }

  td.icon
  {
    text-align: center;
  }

/*
 * COMMENT STYLES
 */

  .comment
  {
    margin: 0 0 10px 0;
    padding: 10px;
    background: #EBF2F8;
  }

  .comment-unpublished
  {
    background-color: #FFF;
  }

  .comment-by-author
  {
    background: none;
    border: 1px solid #6191C5;
  }

  .comment  h3.title
  {
    font-size: 122%;
  }

  .comment  h3.title, .comment  h3.title a
  {
    color: #2266AB;
    font-weight: normal;
    font-family: "Trebuchet MS", "Bitstream Vera Sans", Verdana, Arial, Helvetica, sans-serif;
    margin-bottom: 3px;
    margin-top: 0;
  }

  .comment .picture, .node .picture
  {
    float: left;
    margin-right: 15px;
  }

  .node.node-unpublished .picture,
  .comment.comment-unpublished .picture
  {
    position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
  }

  .comment .new
  {
    color: #FFC600;
    font-weight: bold;
    font-family: "Trebuchet MS", "Bitstream Vera Sans", Verdana, Arial, Helvetica, sans-serif;
  }

  .comment .links
  {
    text-align: right;
  }

/*
 * POLL STYLES
 */

  .poll .bar .foreground
  {
    background: #2763A5;
  }

  .poll .bar
  {
    padding: 2px;
    background: #BDCBDD;
  }

/*
 * BOOK STYLES
 */

  div.node div.content .book-navigation
  {
    background: #eee;
    margin: 0;
    padding: 0;
  }

  div.node div.content .book-navigation ul.menu
  {
    border: 0;
    border-top: 1px solid #2763A5;
    margin: 0;
    padding-bottom: 10px;
  }

  div.node div.content .book-navigation .page-links
  {
    background: #C1D4EA; /*#347FD2;*/
    border: 1px solid #2763A5;
    border-width: 1px 0 1px 0;
    padding: 5px;
    margin: 0;
  }

  /* added */
   #sidebar-left .block ul.menu li {
    list-style: none; 
    background-color:#C5C6C8;
    border-bottom:1px solid #FFFFFF;
    line-height:25px;
    padding-left: 5px;
    text-indent: 0px;
  }

  #sidebar-left .block li ul.menu li {
    background-color: #F9F3D9;
    border-bottom: none;
    text-decoration: none;
  }

  #sidebar-left .block ul.menu li{
    background-color:#C5C6C8;   
    /* border-bottom:1px solid #FFFFFF; //comment temporarily */
    list-style: none;
    padding:0px;;
    line-height:25px;
    padding-left: 0px;
    text-indent: 5px;
  } 

  ul.menu li {
    margin:0px;
  }

  #sidebar-left .block li a:link {
   color: #770632;
  }
 
  #sidebar-right .block li a, #sidebar-right .block li a:link {
   color: #58585A;
   text-decoration: underline;
  }

  #sidebar-right .block li a:hover {
   color: #770632;   
  }

  #sidebar-left .block li a.active {
    color: #770632;
    font-weight: bold;     
  }

  #sidebar-left .block li a:link, #sidebar-left .block li a:visited {
    color:#770632;
    text-decoration:none;
  }

  #sidebar-right .block h2.title {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 0px;
  }

  #sidebar-left .block-user h2.title,
  #sidebar-left .block-menu h2.title {
    font-size: 0px;
    color: #f9f3d9;    
    padding-bottom: 0px;
  } 

  #sidebar-left .block ul.menu li:hover {
    background-color: #E1E3E5;   
  }

  #sidebar-left .block ul.menu li ul,
  #sidebar-left .block ul.menu li ul.menu li {
    background-color: #f9f3d9;
  }

  #sidebar-left .block ul.menu li ul li ul li {
    background-color: #f9f3d9;
    text-decoration: none;
    text-indent: 13px;
  }
 
  #sidebar-left .block ul.menu li ul.menu li a:hover,
    #sidebar-left .block ul.menu li ul.menu li ul li a:hover {
    text-decoration: underline;
  }
 
  #sidebar-left .block-civicrm li a:hover {
   background-color: #f9f3d9;
   text-decoration: underline;
  }

  #sidebar-left .block-civicrm .menu li.no-display {
    padding-left:10px;
  }  
  
  #sidebar-left .block li ul.menu li
  {      
    list-style: none;
    padding:0px;
    background-color: #F9F3D9;
    text-indent: 5px;
  }    

  h1.title {
    color: #770632;
    font-size: 18px;
  }
 

/*
 * FORUM STYLES
 */

  #forum table
  {
    width: 100%;
  }

/*
 * Pager styles
 */

  .pager
  {
    text-align: center;
    margin-top: 30px;
  }

  .pager  a, .pager-current
  {
    padding: 3px 8px 3px 8px;
    margin: 0 2px 0 2px;
    color: #2763A5;
    font-weight: bold;
    border: solid 1px #eee;
  }

  .pager-current
  {
    color: #fff;
    background-color: #2763A5;
  }

/*
 * Node, Block, Content styles
 */

  .node
  {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  .node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
  .comment-unpublished div.unpublished
  {
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word; /* A very nice CSS3 property */
  }

  .node h2.title
  {
    margin-bottom: .1em;
  }

  .node h2.title a
  {
    color: #82A320; /* changed */
    font-size: 129%;
    font-weight: normal;
    font-family: Verdana, Tahoma, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    line-height: 1.4em;
  }

  .node .content
  {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  /* added */
  .content h2.title {
    color: #669933
  }   

  .sticky
  {
    border-bottom: solid 3px #ddd;
  }

  #sidebar-left .block,
  #sidebar-right .block
  {
    /*border-bottom: solid #ddd 1px; //comment */
    padding-bottom: 15px;
    margin: 0 0 1.5em 0;
    /* width:184px; added */
    background-color:#f9f3d9; /* added */
    /*height: 100%;  added */
  }

  #sidebar-left .block
  {
    padding-right: 0px; /* modified 15px to 0px; */
    padding-left: 15px; /* added */
  }

  #sidebar-right .block
  {
    padding-left: 0px; /* modified from 15px to 0px */
    margin-left: 11px; /* added */
    width: 188px; /* added */
  }

  #sidebar-left .block .content 
  {
    margin: 0.5em 0;    
    border: none;  /* added */
    background-color: #f9f3d9; /* added */
    padding-bottom: 0px; /* added */
    padding-top:0px; /* added */
    padding-left:3px; /* added */
  }  
  

  #sidebar-left .block ul,
  #sidebar-right .block ul {
    padding: 0px;
    text-indent: 5px;
  }

  #sidebar-left .block ul li,
  #sidebar-right .block ul li {
    line-height:25px;
    padding: 0px;
    text-indent: 5px;
    list-style: none;
  }


  .block .item-list ul
  {
    padding-left: 0;
  }
 
  /* added */ 
  #sidebar-right .block {
    padding-bottom: 0px;
    background-color: #99bc31;
  }

  #sidebar-right .block .content 
  {
    color: #333333;
    margin: 0.5em 0;    
    border: none;  /* added */
    background-color: #c9dc92; /* added */
    padding-bottom: 10px; /* added */
    padding-top: 20px; /* added */
    padding-left: 17px; /* added */
    padding-right: 12px; /* added */
  }   
 
  #sidebar-right .two {
    padding-bottom: 0px;
    background-color: #770632;
  }
  
  #sidebar-right .two .content {    
    background-color: #F9F3D9;
  }  

  #sidebar-right .three {
    padding-bottom: 0px;
    background-color: #238399;
  }

  #sidebar-right .three .content {    
    background-color: #95d9e8;
  }

  #sidebar-right .one .content a, #sidebar-right .one .content a:link,
  #sidebar-right .two .content a, #sidebar-right .two .content a:link, 
  #sidebar-right .three .content a, #sidebar-right .three .content a:link {    
    color: #58585A;
    text-decoration: underline;
  }
  
  #sidebar-right .one .content a:hover, #sidebar-right .two .content a:hover, #sidebar-right .three .content a:hover {    
    color: #770632;
  }  

  .block .content {
    border: 1px solid #770632; /* added */
    background-color: #FFFFFF; /* added */
    padding-bottom:10px; /* added */
    padding-top:10px;  /* added */
    padding-left: 20px; /* added */
  }

  /*.content #crm-event-block {
    margin:20px 15px 20px 5px;    
    padding: 0 8px;
    background-color: #E5ECF9;  
    border: 10px solid #C3D9FF;
    height: 178px
    overflow-y: auto;
    display: table;
    width: 90%;
    font-weight:bold;
  }
 
  .content #crm-event-block p {
    margin-left: 5px;
    padding-left: 5px;
    line-height: 23px;
  }
  
  .content #crm-event-block a {    
    background: #FFFFFF;
    border: 1px solid #C3D9FF;
    display: list-item;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-left: -11px;
    padding-right: 10px;
    text-indent: 10px;
    width: 100%;
    font-weight: normal;
  }

  .content #crm-event-block br, .content #crm-event-block em {
    display: none;
  }   */

  .block ul {
    margin:0px;
    padding:10px;
  }
  
  .block ul li {
    list-style-position: inside;
    list-style-image: none;    
    /* padding-left: 20px; // comment temporaliry */
    padding-right: 5px;
    text-indent: -13px;
    line-height: 20px;
  }
  
  .block ul li a {
    color: #669933;
  }

  .block ul li a:hover {
    text-decoration: underline;
  }

  .block h2.title {
    font-size:15px;
    font-weight:bold;
    line-height:17px;
    padding:7px 17px 0px;
  }

  #content-bottom .block-inner,
  #content-top .block-inner {
     margin-bottom: 15px;
  }

  #content-bottom .block h2.title,
  #content-top .block h2.title {
     color: #FFFFFF;
  }


  #block-user-2 ul li, #block-user-3 ul li {
     padding-left: 35px;
  }

/*
 * Status report colors.
 */

  table.system-status-report tr.error, table.system-status-report tr.error th
  {
    background-color: #fcc;
    border-color: #ebb;
    color: #200;
  }

  table.system-status-report tr.warning, table.system-status-report tr.warning th
  {
    background-color: #ffd;
    border-color: #eeb;
  }

  table.system-status-report tr.ok, table.system-status-report tr.ok th
  {
    background-color: #dfd;
    border-color: #beb;
  }

/*
 * helpicon civicrm.
 */
  #crm-container .helpicon {
      padding: 0px;
  }
